@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-size: calc(0.625rem + 0.4vw);
    --montserrat-font: 'Montserrat', sans-serif;
    --white: #ffffff;
    --light-grey: #F7F7F7;
    --dark-grey: #757575;
    --cyan: #19A7CE;
    --light-blue: #AFD3E2;
    --dark-blue: #146C94;
    --red: #ef4444;
    --light-red: #E67B7B;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: var(--montserrat-font);
}

html {
    font-size: 62.5%;
}

input {
    border: none;
}

h1 {
    text-align: center;
}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    height: 70px;
    width: 100%;
    position: fixed;
    background: linear-gradient(90deg, var(--dark-blue) 0%, var(--cyan) 100%);
    color: var(--white);
    z-index: 3;
}

/* Content */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Login & Registration form */

form {
    background: var(--light-grey);
    border-radius: 0.8rem;
    display: flex;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding: 3rem;
}

form h2 {
    font-size: 20px;
    color: var(--cyan)
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    width: 250px;
    padding: 10px;
    border: 1px solid var(--dark-grey);
    background: transparent;
    color: var(--dark-grey);
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.input-group label, .input-group textarea {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    padding: 0 5px;
    pointer-events: none;
    font-size: 15px;
    color: var(--dark-grey);
    transition: .3s ease;
}

.input-group input:valid ~ label,
.input-group input:focus ~ label
{
    top: 0;
    color: var(--dark-blue);
    font-size: 14px;
    background: var(--light-grey);
}

.signUpLink, .loginLink {
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.redirect-link {
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: 600;
}

.redirect-link:hover {
    cursor: pointer;
    color: var(--light-blue);
}

.error-text {
    color: var(--light-red);
    font-size: 14px;
    font-weight: 600;
    margin-top: 3rem;
}

.success-text {
    color: green;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3rem;
}

/* Main Page */
.greetings {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;
}

/* Capstone form (query, details) */
.cp-form {
    margin-top: 150px;
}

.cp-form .form-container {
    width: 700px;
}

.cp-form h2 {
    width: 100%;
    text-align: center;
}

.cp-form input[type="text"] {
    width: 310px;
}

.cp-form .input-group {
    width: 330px;
}

.width {
    width: 170px !important;
}

.width input {
    width: 150px !important;
}

.input-groups {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.radio {
    display: flex;
    gap: 5px;
}

.textarea-input {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

textarea {
    background: transparent;
    border: 1px solid var(--dark-grey);
    color: var(--dark-grey);
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    padding: 10px;
}

textarea:focus {
    border-color: var(--dark-blue);
    font-size: 15px;
}

/* Capstone Query Results*/

.no-cp-msg {
    color: var(--dark-blue);
    font-weight: 600;
}

.cp-list {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 10px;
}

.cp-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 1000px;
    font-size: 0.8rem;
    transition: transform ease-in-out 0.2s;
    background-color: var(--light-grey);
    box-shadow: 0 1px 1px rgba(0.1, 0.1, 0.1, 0.5);
    text-decoration: none;
}

.cp-container:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.cp-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: var(--dark-blue);
}

.cp-pic {
    color: var(--dark-grey);
}

/* Buttons */

.btns-group {
    display: flex;
    gap: 60px;
}

.btn {
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    background-color: var(--light-blue);
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--dark-blue);
}

.cancelBtn {
    background: transparent;
    color: var(--light-red);
    border: 1px solid var(--red);
}

.cancelBtn:hover {
    color: var(--white);
    background-color: var(--red);
}

.logInOutBtn {
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.logInOutBtn:hover {
    color: var(--dark-blue);
    background-color: var(--white);
}

/* Misc */

.hide {
    display: none;
}
