{% extends 'base.html' %}

{% block title %} <title>Login</title>{% endblock %}

{% block body %}
<div class="header">
    <div class="title">TSAO Capstone Records System</div>
</div>
<main class="content">
    <form action="/login" method="POST">
        <h2>Sign In</h2>
        <!-- Username Input -->
        <div class="input-group">
            <input type="text" name="username" id="username" required>  
            <label for="username">Username</label>
        </div>

        <!-- Password Input -->
        <div class="input-group">
            <input type="password" name="password" id="password" required>
            <label for="password">Password</label>
        </div>

        <div class="btns-group">
            <input type="submit" class="btn loginBtn" value="Login">
            <a class="btn cancelBtn" href="/">Cancel</a>
        </div>

        {% if error == 'Account not approved' %}
        <div class="error-text">Account not approved. Please contact your administrator to approve.</div>
        {% endif %}
        
        {% if error == 'Invalid credentials' %}
        <div class="error-text">Invalid login credentials. Please try again.</div>
        {% endif %}

        <div class="signUpLink">Don't have an account?<a class="redirect-link" href="/register">Sign up</a></div>
    </form>
</main>
{% endblock %}